![Caratula](https://total10fashion.com/wp-content/uploads/2022/07/Sustainable-Fashion-Ideas-768x430.png)

# La percepción del impacto de la Moda sobre el planeta

### TEMA

La percepción del consumidor sobre impacto de la industria de la moda en medio ambiente y qué están haciendo las marcas por ser más sostenibles y éticas.

A través de cifras sobre emisiones, contaminación, uso de los recursos; teniendo en cuenta el tipo de moda que fabrican (fast-non trend, fast-trend y ultrafast), el múmero de colecciones, volumen de prendas e ingresos; ¿cómo percibe el consumidor a esas marcas?

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Deberás tener más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

·*Hipótesis 1*: ¿Existe una relación entre las reacciones en redes sociales con la forma de producción de una marca de moda?

·*Hipótesis 2* = ¿Cuanto más fast es una marca más contamina?

·*Hipótesis 3* = ¿Cómo está evolucionando la industria de la moda en términos de sostenibilidad e ingresos?

·*Hipótesis* 4 = ¿La percepción que tiene la gente sobre si una marca es 'verde' es reflejo de la realidad?

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [2]:
import pandas as pd
# guarda en variables los datasets y su fuente
df_1 = pd.read_csv(r"C:\Users\isabe\Documents\Thebridge\Descargas documentos\Fashion-EDA\Datasets\true_cost_fast_fashion.csv")
fuente_1 = "https://www.kaggle.com/datasets/khushikyad001/the-true-cost-of-fast-fashion-impact"
df_2 = pd.read_csv(r"C:\Users\isabe\Documents\Thebridge\Descargas documentos\Fashion-EDA\Datasets\Plastic based Textiles in clothing industry.csv")
fuente_2 = "https://www.kaggle.com/datasets/purohitgaurav/plastic-based-textiles-in-clothing-industry"

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [3]:
#True Cost of Fashion
df_1.head()

,Brand,Country,Year,Monthly_Production_Tonnes,Avg_Item_Price_USD,Release_Cycles_Per_Year,Carbon_Emissions_tCO2e,Water_Usage_Million_Litres,Landfill_Waste_Tonnes,Avg_Worker_Wage_USD,...,Instagram_Mentions_Thousands,TikTok_Mentions_Thousands,Sentiment_Score,Social_Sentiment_Label,GDP_Contribution_Million_USD,Env_Cost_Index,Sustainability_Score,Transparency_Index,Compliance_Score,Ethical_Rating
0,Shein,Indonesia,2017,574.51,19.31,16,11421.58,282.11,616.63,143.79,...,4655,3435,0.05,Neutral,608.51,0.49,29.12,61.19,13.95,1.46
1,Forever 21,Vietnam,2024,394.50,9.30,20,5571.01,289.22,795.11,167.78,...,9655,6285,-0.12,Positive,689.49,0.21,49.52,3.44,90.93,1.29
2,Uniqlo,India,2024,310.23,25.46,11,10969.00,116.39,364.33,97.81,...,8016,387,0.08,Neutral,439.78,0.63,96.53,60.70,27.60,1.48
3,Forever 21,USA,2017,218.65,13.17,13,13093.00,255.88,632.16,134.54,...,8254,1620,-0.06,Neutral,746.70,0.21,71.32,76.08,56.13,3.85
4,Zara,Indonesia,2016,1005.84,15.40,20,9548.40,142.07,830.10,144.33,...,1778,3292,-0.59,Neutral,571.42,0.95,59.89,69.48,88.05,3.12

In [ ]:
# Cifras por tipo de fibra
df_2.head()

,Company,Product_Type,Production_Year,Greenhouse_Gas_Emissions,Pollutants_Emitted,Water_Consumption,Energy_Consumption,Waste_Generation,Sales_Revenue
0,Zara,Polyester,2020,5000,20,7500,1200,300,500000
1,Zara,Nylon,2019,3000,15,5000,900,200,450000
2,Zara,Recycled_Poly,2021,3500,18,6000,1100,250,480000
3,Zara,Cotton,2018,2000,10,4500,800,180,550000
4,Zara,Synthetic_Blend,2022,6000,25,8000,1500,350,600000

In [9]:
print(df_1.info())
print('***********************************************************************')
print(df_2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Brand                         3000 non-null   object
 1   Country                       3000 non-null   object
 2   Year                          3000 non-null   int64
 3   Monthly_Production_Tonnes     3000 non-null   float64
 4   Avg_Item_Price_USD            3000 non-null   float64
 5   Release_Cycles_Per_Year       3000 non-null   int64
 6   Carbon_Emissions_tCO2e        3000 non-null   float64
 7   Water_Usage_Million_Litres    3000 non-null   float64
 8   Landfill_Waste_Tonnes         3000 non-null   float64
 9   Avg_Worker_Wage_USD           3000 non-null   float64
 10  Working_Hours_Per_Week        3000 non-null   int64
 11  Child_Labor_Incidents         3000 non-null   int64
 12  Return_Rate_Percent           3000 non-null   float64
 13  Avg_Spend_Per_Customer_USD    3000 non-null   float64
 14  Shopping_Frequency_Per_Year   3000 non-null   int64
 15  Instagram_Mentions_Thousands  3000 non-null   int64
 16  TikTok_Mentions_Thousands     3000 non-null   int64
 17  Sentiment_Score               3000 non-null   float64
 18  Social_Sentiment_Label        3000 non-null   object
 19  GDP_Contribution_Million_USD  3000 non-null   float64
 20  Env_Cost_Index                3000 non-null   float64
 21  Sustainability_Score          3000 non-null   float64
 22  Transparency_Index            3000 non-null   float64
 23  Compliance_Score              3000 non-null   float64
 24  Ethical_Rating                3000 non-null   float64
dtypes: float64(15), int64(7), object(3)
memory usage: 586.1+ KB
None
***********************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6956 entries, 0 to 6955
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Company                   6956 non-null   object
 1   Product_Type              6956 non-null   object
 2   Production_Year           6956 non-null   int64
 3   Greenhouse_Gas_Emissions  6956 non-null   int64
 4   Pollutants_Emitted        6956 non-null   int64
 5   Water_Consumption         6956 non-null   int64
 6   Energy_Consumption        6956 non-null   int64
 7   Waste_Generation          6956 non-null   int64
 8   Sales_Revenue             6956 non-null   int64
dtypes: int64(7), object(2)
memory usage: 489.2+ KB
None